<?xml version="1.0"?>
<launch>

  <master auto="start"/>

  <!--- Run cartograhper -->

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find qz_navigation)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find qz_navigation)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find qz_navigation)/configs/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find qz_navigation)/configs/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find qz_navigation)/configs/move_base_params.yaml" command="load" />
    <rosparam file="$(find qz_navigation)/configs/dwa_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="/cmd_vel_bridge/robot_odom"/>
    <remap from="scan" to="scan"/>
  </node>
</launch>
